.homepage {
    background-image:
        url("https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}
.imsize{
    width: 1338px;
    height: 500px;
}
.size{
    width:400px;
}