
<div class="row">
    <div class="container-fluid mt-5 mx-5 mb-5">
            <h5><b>CURRENT ORDERS PENDING TO REVIEW :</b></h5><br>
        <div *ngFor="let particularOrder of reviewOrders">
        <div class="row">
            <div class="col-xl-11 mt-5 mx-8 mb-5"></div>
              
                <h5>Order Id : {{particularOrder.orderId}}</h5>
              
                <table class="table mt-2">
                    <tr>
                        <th class="text-light text-center">PRODUCT NAME</th>
                        <th class="text-light text-center">PRODUCT QUANTITY</th>
                        <th class="text-light text-center">PRODUCT PRICE</th>
                    
                         </tr>
                    <tr *ngFor="let order of particularOrder.orderList">
                        <td class="text-center">{{order.productName}}</td>
                        <td class="text-center">{{order.productQuantity}}</td>
                        <td class="text-center">{{order.price |currency:'INR':'code'}}</td>
                       

                       


                    </tr>
                </table>

            </div>
<div class="text-left">
    <h5>Total Cash Paid: {{particularOrder.totalPrice}}</h5>
</div>
            <div>
                <h5><b>STATUS: PAID</b></h5>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-info btnsize float-right" [routerLink]="['/reviewForm',particularOrder.orderId]" >
                   <h6>REVIEW IT</h6>
                  </button>
        </div>
        </div>
        
        </div>
    </div>

